<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Dev Awesome</title>
    <link href="@Url.Content("~/dist/bundle.css")" rel="stylesheet" />
    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
