<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Brain Damage</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/dist/bundle.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
